<app-header
  (dateChanged)="onDateChanged($event)"
  (viewChanged)="onViewChanged($event)"
></app-header>

@switch (selectedView) {
  @case ('Day') {
    <div class="calendar">
      @for (hour of hours; track $index) {
        <div
          class="slot"
          #slotRef
          (click)="openAppointmentForm({date: selectedDate, endTime: getTimeString(hour + 1, 0), startTime: getTimeString(hour, 0)})"
        >
          <div class="slot-time">{{ hour | number: '2.0' }}:00</div>
          <div class="appointments">
            @for (appointment of getAppointmentsForHour(hour, selectedDate); track appointment.id) {
              <div
                class="appointment"
                cdkDrag
                (cdkDragEnded)="onDragEnded($event, appointment)"
                (click)="openAppointmentForm(appointment); $event.stopPropagation()"
              >
                <div class="appointment-content">
                  <span>{{ appointment.title }}</span>
                  <button
                    mat-icon-button
                    (click)="deleteAppointment(appointment, $event)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            }
          </div>
        </div>
      }
    </div>
  }
  @case ('Week') {
    <div class="calendar-week">
      <div class="week-header">
      <div style="width: 60px; border-right: #e0e0e0 solid 1px; font-size: 0.5em; text-align: center">{{getTimeZoneOffsetString}}</div>
        @for (date of currentDates; track $index) {
          <div class="day-header">
            <span>{{ date | date: 'EEE' }}</span>
            <br>
            <span [style]="date.getDate() === today.getDate() ? 'padding: .5rem; background-color: #90caf9; border-radius: 9999px' : ''" style="">{{ date | date: 'd' }}</span>
          </div>
        }
      </div>
      <div class="week-body">
        <div class="time-labels">
          @for (hour of hours; track $index) {
            <div class="time-label">
              {{ hour | number: '2.0' }}:00
            </div>
          }
        </div>
        <div class="week-columns">
          @for (date of currentDates; track $index) {
            <div class="day-column">
              <div class="day-slots">
                @for (hour of hours; track $index) {
                  <div
                    class="slot"
                    #slotRef
                    (click)="openAppointmentForm({date, endTime: getTimeString(hour + 1, 0), startTime: getTimeString(hour, 0)})"
                  >
                    <div class="appointments">
                      @for (appointment of getAppointmentsForHour(hour, date); track appointment.id) {
                        <div
                          class="appointment"
                          cdkDrag
                          (cdkDragEnded)="onDragEnded($event, appointment)"
                          (click)="openAppointmentForm(appointment); $event.stopPropagation()"
                        >
                          <div class="appointment-content">
                            <span>{{ appointment.title }}</span>
                            <button
                              mat-icon-button
                              (click)="deleteAppointment(appointment, $event)"
                            >
                              <mat-icon>delete</mat-icon>
                            </button>
                          </div>
                        </div>
                      }
                    </div>
                  </div>
                }
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  }
  @case ('Month') {
    <div class="calendar-month">
      <div class="month-grid">
        @for (date of currentDates; track $index) {
          <div class="month-day" (click)="openAppointmentForm({date})">
            <div class="day-header">
              {{ date | date: 'd' }}
            </div>
            <div class="day-content" #slotRef>
              @for (appointment of getAppointmentsForDate(date); track appointment.id) {
                <div
                  class="appointment"
                  (click)="openAppointmentForm(appointment); $event.stopPropagation()"
                >
                  <span>{{ appointment.title }}</span>
                </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  }
  @default {
    <p>Select a view mode to display the calendar.</p>
  }
}
