<app-header
  (dateChanged)="onDateChanged($event)"
  (viewChanged)="onViewChanged($event)"
></app-header>
<div class="calendar">
  <div class="time-slot" *ngFor="let hour of hours">
    <div class="slot" (click)="openAppointmentForm(selectedDate.setHours(hour, 0, 0, 0))">
      <div class="slot-time">{{ hour | number: '2.0' }}:00</div>
      <div class="appointments">
        <div
          class="appointment"
          *ngFor="let appointment of getAppointmentsForHour(hour, false)"
          cdkDrag
          (cdkDragEnded)="onDragEnded($event, appointment)"
        >
          <div class="appointment-content">
            <span>{{ appointment.title }}</span>
            <button mat-icon-button (click)="deleteAppointment(appointment)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="slot" (click)="openAppointmentForm(selectedDate.setHours(hour, 30, 0, 0))">
      <div class="slot-time">{{ hour | number: '2.0' }}:30</div>
      <div class="appointments">
        <div
          class="appointment"
          *ngFor="let appointment of getAppointmentsForHour(hour, true)"
          cdkDrag
          (cdkDragEnded)="onDragEnded($event, appointment)"
        >
          <div class="appointment-content">
            <span>{{ appointment.title }}</span>
            <button mat-icon-button (click)="deleteAppointment(appointment)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
