<div class="header">
  <div class="actions">
    <button mat-button (click)="goToToday()">Today</button>
  </div>
  <div class="navigation">
    <button mat-icon-button (click)="previousPeriod()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="date-display">
      {{ currentDate$ | async | date: viewBasedDateFormat }}
    </div>
    <button mat-icon-button (click)="nextPeriod()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div style="flex: 1"></div>

  <mat-form-field floatLabel="always">
    <mat-label>Views</mat-label>
    <mat-select required [formControl]="viewFormControl">
      @for (view of views; track view) {
        <mat-option [value]="view">{{ view }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
