<div class="year-view">
  <div class="header">
    {{ currentYear }}
  </div>
  <div class="months">
    <div class="month" *ngFor="let month of months">
      <div class="month-name">
        {{ month.name }}
      </div>
      <div class="days">
        <div
          class="day"
          *ngFor="let date of month.dates"
          [class.today]="isToday(date)"
          (click)="openAppointmentFormForDay(date)">
          <span>{{ date.getDate() }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
