@use '@angular/material' as mat;

@include mat.core();

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
